 <app-header></app-header> 
 <section class="shop-detail-section section-padding">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-12 m-auto">
              <div class="custom-block shop-detail-custom-block">
                  <h3 class="mb-3">{{ collocationOffer.descriptionCollocation }}</h3>
                  <p>Location: {{ collocationOffer.location }}</p>
                  <p>Furniture: {{ collocationOffer.furnitureCollocation }}</p>
                  <p>House Type: {{ collocationOffer.houseType }}</p>
                  <p>Available Places: {{ collocationOffer.availablePlaces }}</p>
                  <p>Price: ${{ collocationOffer.price }}</p>
                  <p>Date Offer: {{ collocationOffer.dateRent | date: 'yyyy-MM-dd' }}</p>
                  <p>Gender: {{ collocationOffer.gender }}</p>

                  <div *ngIf="collocationOffer.roomDetailsList && collocationOffer.roomDetailsList.length > 0">
                      <h4>Room Details:</h4>
                      <div *ngFor="let room of collocationOffer.roomDetailsList; let i = index">
                          <p>Room {{ i + 1 }} - Type: {{ room.roomType }}, Available Places: {{ room.availablePlaces }}, Price: ${{ room.prix }}</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-12">
              <div class="shop-image-wrap">
                  <img [src]="collocationOffer.imageCollocation" class="shop-image img-fluid" alt="">
              </div>
          </div>
      </div>
  </div>

<div class="container">
    <h2>Add Request</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="places">Places:</label>
        <input type="number" id="places" name="places" [(ngModel)]="collocationRequest.places" required>
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" name="description" [(ngModel)]="collocationRequest.description" required></textarea>
      </div>
      <button type="submit">Submit</button>
    </form>
    <button (click)="goToRequestList()">Go to Request List</button>
  </div> 
  <app-footor></app-footor>  