<app-head-back></app-head-back>
<div class="col-md-8 mx-auto">
    <div class="card card-plain">
      <div class="card-header">
        <h4 class="card-title">Collocation Preferences</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-sm" style="font-size: 16px; width: 100%;">
            <thead class="text-primary">
              <th>Pets</th>
              <th>Interests</th>
              <th>Smoking</th>
              <th>Budget</th>
              <th>Gender</th>
              <th>Location</th>
              <th>user</th>

            </thead>
            <tbody>
              <tr *ngFor="let preference of preferences">
                <td>{{ preference.pets }}</td>
                <td>{{ preference.interest }}</td>
                <td>{{ preference.smoking ? 'Yes' : 'No' }}</td>
                <td>{{ preference.budget }}</td>
                <td>{{ preference.gender }}</td>
                <td>{{ preference.location }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  

  