

<div   class="property-box">
  <div *ngIf="carpoolingOffers.carpoolingType === 'Aller_et_Retour' || carpoolingOffers.carpoolingType === 'Aller' " class="agent-content">
    <li><i  class="fa fa-map-marker-alt"> From {{ carpoolingOffers.location}}</i></li>
    
  
    <ul class="agent-contact">
       <li> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-car-front-fill" viewBox="0 0 16 16">
        <path d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679q.05.242.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.8.8 0 0 0 .381-.404l.792-1.848ZM3 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2m10 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2M6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2zM2.906 5.189a.51.51 0 0 0 .497.731c.91-.073 3.35-.17 4.597-.17s3.688.097 4.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 11.691 3H4.309a.5.5 0 0 0-.447.276L2.906 5.19Z"/>
      </svg> <span> {{carpoolingOffers.dateAller}}</span></li>
       <li> <i class="fas fa-phone-alt" ></i> <span>25998439</span></li>          
       <li style="display: flex;">
        for :
        <div>
            
          <img *ngIf="carpoolingOffers.forWho == 'Male' || carpoolingOffers.forWho == 'Male_or_Female'" src="assetsaif/images/female.jpg" class="bg-img" alt="agency-image" style="width: 20px;">
        </div>   
        <div>
          <img *ngIf="carpoolingOffers.forWho == 'Female' || carpoolingOffers.forWho == 'Male_or_Female'" src="assetsaif/images/male.jpg" class="bg-img" alt="agency-image" style="width: 20px;">
        </div>
      </li>
     
      <li>

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-car-front-fill" viewBox="0 0 16 16">
          <path d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679q.05.242.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.8.8 0 0 0 .381-.404l.792-1.848ZM3 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2m10 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2M6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2zM2.906 5.189a.51.51 0 0 0 .497.731c.91-.073 3.35-.17 4.597-.17s3.688.097 4.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 11.691 3H4.309a.5.5 0 0 0-.447.276L2.906 5.19Z"/>
        </svg> places disp: 
      
      </li>
      <li style="display: flex; align-items: center;">
        
        <select class="form-control" style="margin-right: 10px;" [(ngModel)]="selectedNbPlacesAller">
          
          <ng-container *ngFor="let i of maxPlacesAller">
            <option [value]="i" class="ng-star-inserted">{{ i }}</option>
          </ng-container>
        </select>
        <a _ngcontent-ng-c2966600256="" (click)="addReq(1, carpoolingOffers.carpoolingOfferID || 0, selectedNbPlacesAller,0)" class="btn btn-outline-warning ng-star-inserted" style="font-size: 12px; padding: 5px 10px;">Book</a>
      </li>
      <li *ngIf="alert==1   && carpoolingRequest.requestType=='Aller' " class="alert alert-success" role="alert" style="font-size: 12px; padding: 5px 10px;" >
        success
      </li>
      
    </ul>
    
  </div>
  
       
  <div class="agent-image">
    <div class="bg-size" [style.background-image]="'url('+carpoolingOffers.img+')'">
      <img [src]="carpoolingOffers.img" class="bg-img" alt="agency-image">
    
      <span class="label label-danger label-pill">{{ carpoolingOffers.price}} points</span>
    
      
      
      <div class="overlay-content">
        <ul>
          <li><a href="https://accounts.google.com/" target="_blank"><img src="assetsaif/images/about/icon-1.png" alt="google-logo"></a>
          </li>
          <li><a href="https://twitter.com/" target="_blank"><img src="assetsaif/images/about/icon-2.png" alt="twitter-logo"></a>
          </li>
          <li><a href="https://www.facebook.com/" target="_blank"><img src="assetsaif/images/about/icon-3.png" alt="facebook-logo"></a>
          </li>
        </ul>
        <span>Connect</span>
      </div>
    </div>
  </div>

  <div *ngIf="carpoolingOffers.carpoolingType === 'Aller_et_Retour' || carpoolingOffers.carpoolingType === 'Retour'  "class="agent-content">
    
    <i  class="fa fa-map-marker-alt" > To {{ carpoolingOffers.location}}</i>
  
    <ul class="agent-contact">
      <li>  <i class="fas fa-car"></i> <span>{{carpoolingOffers.dateRetour}}</span></li>
      <li> <i class="fas fa-phone-alt"></i> <span>25998439</span></li> 
      <li style="display: flex;">
        for :
        <div>
          <img *ngIf="carpoolingOffers.forWho == 'Male' || carpoolingOffers.forWho == 'Male_or_Female'" src="assetsaif/images/female.jpg" class="bg-img" alt="agency-image" style="width: 20px;">
        </div>   
        <div>

          <img *ngIf="carpoolingOffers.forWho == 'Female' || carpoolingOffers.forWho == 'Male_or_Female'" src="assetsaif/images/male.jpg" class="bg-img" alt="agency-image" style="width: 20px;">
        </div>

      </li>
      <li><img _ngcontent-ng-c1891803766="" src="assetsaif/images/svg/icon/double-bed.svg" alt="bed-icon" class="img-fluid" style="width: 20px;"> places disp:</li>
      
      <li style="display: flex; align-items: center;">
        <select class="form-control" style="margin-right: 10px;"[(ngModel)]="selectedNbPlacesRetour">
         
          <ng-container *ngFor="let i of maxPlacesRetour">
            <option [value]="i" class="ng-star-inserted">{{ i }}</option>
          </ng-container>
        </select>
        
        <a _ngcontent-ng-c2966600256="" (click)="addReq(1, carpoolingOffers.carpoolingOfferID || 0,0,selectedNbPlacesRetour)" class="btn btn-outline-warning ng-star-inserted" style="font-size: 12px; padding: 5px 10px;">Book</a>
      </li>
      

      <li *ngIf="alert==1  && carpoolingRequest.requestType=='Retour' " class="alert alert-success" role="alert" style="font-size: 12px; padding: 5px 10px;" >
        success
      </li>
   </ul>
    
  </div>
  
</div>
