
<div class="card" style="width: 100%; float: left; margin-right: 50px;">
    <canvas #myChartEnabled ></canvas>
</div>

<div class="card" style="width: 100%; float: left;">
    <canvas #myChartGender width="100%" height="100%"></canvas>
</div>

<div class="card" style="width: 45%; float: left; margin-top: 20px; margin-right: 20px;">
  <div class="card-body">
    <canvas #myChartJoin width="100%" height="100%"></canvas>
  </div>
</div>

<div class="card" style="width: 45%; float: left; margin-top: 20px;">
  <div class="card-body">
    <canvas #myChartAge width="100%" height="100%"></canvas>
  </div>
</div>

<div class="card" style="width: 45%; float: left; margin-top: 20px; margin-right: 20px;">
  <div class="card-body">
    <canvas #myChartCity width="100%" height="100%"></canvas>
  </div>
</div>

<div class="chart-container" class="card" style="width: 45%; float: left; margin-top: 20px; margin-right: 20px;">
  <canvas #myChartTags width="100%" height="100%"></canvas>
</div>

<div class="chart-container" class="card" style="width: 45%; float: left; margin-top: 20px; margin-right: 20px;" >
  <canvas #myChartPosts width="100%" height="100%"></canvas>
</div>

<div class="chart-container" class="card" style="width: 45%; float: left; margin-top: 20px; margin-right: 20px;" >
  <canvas #myChartPostsCount width="100%" height="100%"></canvas>
</div>
