<app-header></app-header>

<section class="preferences-section section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12 m-auto">
        <div class="custom-block preferences-custom-block">
          <h1 class="mb-3">Collocation Preferences</h1>

          <div class="form-group">
            <label for="pets" class="label">Pets:</label>
            <select id="pets" class="input-field" [(ngModel)]="collocationPreferences.pets">
              <option *ngFor="let pet of petOptions" [value]="pet">{{ pet }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="smoking" class="label">Smoking:</label>
            <input type="checkbox" id="smoking" class="input-field" [(ngModel)]="collocationPreferences.smoking" />
          </div>

          <div class="form-group">
            <label for="budget" class="label">Budget:</label>
            <input type="number" id="budget" class="input-field" [(ngModel)]="collocationPreferences.budget" />
          </div>

          <div class="form-group">
            <label for="gender" class="label">Gender:</label>
            <select id="gender" class="input-field" [(ngModel)]="collocationPreferences.gender">
              <option *ngFor="let gender of genderOptions" [value]="gender">{{ gender }}</option>
            </select>
          </div>


          <div class="form-group">
            <label for="location" class="label">Location:</label>
            <input type="text" id="location" class="input-field" [(ngModel)]="collocationPreferences.location" />
          </div>

          <button class="btn btn-primary save-btn" (click)="savePreferences()">Save Preferences</button>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footor></app-footor>
