<app-header></app-header>
<app-customizer></app-customizer>
<section class="title-2 ng-star-inserted">
    <h2>SELECT COPOINTCO</h2>
    <a _ngcontent-ng-c2966600256=""(click)=" openPointsModal()" class="btn btn-gradient btn-pill color-2 ng-star-inserted">View My Points</a>


  </section>

<section class="card-container">
    
    <div class="card">
      <div class="card-body">
        <h3>10 Points</h3>
        <p>$10</p>
        <a _ngcontent-ng-c2966600256=""(click)="Payment(10)" class="btn btn-gradient btn-pill color-2 ng-star-inserted">Pay $10</a>
    
      </div>
    </div>
  
    <div class="card">
      <div class="card-body">
        <h3>17 Points</h3>
        <p>$15</p>
        <a _ngcontent-ng-c2966600256=""(click)="Payment(15)" class="btn btn-gradient btn-pill color-2 ng-star-inserted">Pay $15</a>
      </div>
    </div>
  
    

   
  
    <div class="card">
      <div class="card-body">
        <h3>35 Points</h3>
        <p>$25</p>
        <a _ngcontent-ng-c2966600256=""(click)="Payment(25)" class="btn btn-gradient btn-pill color-2 ng-star-inserted">Pay $25</a>
      </div>
    </div>
  
    <div class="card">
      <div class="card-body">
        <h3>50 Points</h3>
        <p>$30</p>
        <a _ngcontent-ng-c2966600256=""(click)="Payment(30)" class="btn btn-gradient btn-pill color-2 ng-star-inserted">Pay $30</a>
      </div>
    </div>
  
    <div class="card">
      <div class="card-body">
        <h3>70 Points</h3>
        <p>$40</p>
        <a _ngcontent-ng-c2966600256=""(click)="Payment(40)" class="btn btn-gradient btn-pill color-2 ng-star-inserted">Pay $40</a>
      </div>
    </div>
    <div class="card">
        <div class="card-body">
          <h3>100 Points</h3>
          <p>$60</p>
          <a _ngcontent-ng-c2966600256=""(click)="Payment(60)" class="btn btn-gradient btn-pill color-2 ng-star-inserted">Pay $60</a>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h3>130 Points</h3>
          <p>$100</p>
          <a _ngcontent-ng-c2966600256=""(click)="Payment(100)" class="btn btn-gradient btn-pill color-2 ng-star-inserted">Pay $100</a>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h3>200 Points</h3>
          <p>$150</p>
          <a _ngcontent-ng-c2966600256=""(click)="Payment(150)" class="btn btn-gradient btn-pill color-2 ng-star-inserted">Pay $200</a>
        </div>
      </div>
     
</section>

<div class="quiz_box" [ngClass]="isModalEnded ? 'activeQuiz' : ''">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You have {{ points }} loyalty point.</p>
        <button (click)="convertPointsToMoney()">Convert loyalty point  to Points</button>

      </div>
    </div>
  </div>
</div>





<app-transfer-fidelite *ngIf="showFidelite"></app-transfer-fidelite>

<app-footor></app-footor>