.container {
  margin-top: 50px;
}

.row {
  display: flex;
  justify-content: center;
}

.col-md-8 {
  max-width: 800px;
}

.card {
  background-color: rgba(238, 130, 238, 0.2); /* Violet with opacity */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #800080; /* Purple */
  font-size: 2.5rem; /* Larger font size */
}

.card p {
  margin-bottom: 10px;
  color: #000; /* Black */
  font-size: 1.2rem; /* Larger font size */
}

button.confirm-delete {
  background-color: #000; /* Black */
  color: #fff;
  border: none;
  padding: 15px 30px; /* Larger padding */
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
  font-size: 1.2rem; /* Larger font size */
}

button.cancel {
  background-color: #000; /* Black */
  color: #fff;
  border: none;
  padding: 15px 30px; /* Larger padding */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.2rem; /* Larger font size */
}

button:hover {
  filter: brightness(85%);
}
