<link rel="preconnect" href="https://fonts.googleapis.com">
        
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;400;600;700&display=swap" rel="stylesheet">

<link href="/assets/frontOffice/assets/css/bootstrap.min.css" rel="stylesheet">

<link href="/assets/frontOffice/assets/css/bootstrap-icons.css" rel="stylesheet">

<link href="/assets/frontOffice/assets/css/owl.carousel.min.css" rel="stylesheet">

<link href="/assets/frontOffice/assets/css/tooplate-moso-interior.css" rel="stylesheet">
<link href="/assets/frontOffice/assets/css/tooplate-moso-interior.css" rel="stylesheet">

<header class="header-area header-sticky">
 
    <nav class="navbar navbar-expand-lg bg-light fixed-top shadow-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html">Co <span class="tooplate-red">&</span><span class="tooplate-green">Co</span></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_1">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle click-scroll" href="#section_3" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Carpooling</a>

                        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                            <li><a class="dropdown-item" [routerLink]="'/Carpooling/addC'">AddCarpooling</a></li>

                            <li><a class="dropdown-item"  [routerLink]="'/Carpooling/askC'">AskCarpooling</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle click-scroll" [routerLink]="'/Collocation/showOffer'" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Collocation</a>

                        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                            <li><a class="dropdown-item" [routerLink]="'/Collocation/addOffer'">Add Collocation Offer</a></li>
                            <li><a class="dropdown-item" [routerLink]="'/schedule/calendar'">calendar</a></li>
 
                            <li><a class="dropdown-item" [routerLink]="'/Collocation/myOffers'">my offers</a></li>

                          
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_4">Charity</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_5">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_5">Contact</a>
                    </li>


                </ul>
                <a href="/user/profile" class="rounded-pill ps-2 pt-1 pe-3 pb-1 text-white text-decoration-none">
                    <span class="rounded-circle d-inline-block align-middle centered-bg-image"
                        style="width: 30px; height: 30px; background-color: rgb(214, 171, 171); 
                        background-image: url('{{imageUrl}}'); background-size: cover; background-position: center;"></span>
                    <span class="mat-body-strong d-inline-block align-middle ps-2" *ngIf="user" [style.color]="'black'">{{ user.firstName }}</span>
                </a>
                

                <button mat-icon-button >
                    <mat-icon>notifications</mat-icon>
                    <span class="position-absolute translate-middle p-2 bg-danger rounded-circle" style="top: 10px; right: -5px;" ></span>
                </button>
                
                <button mat-icon-button [matMenuTriggerFor]="mainMenu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #mainMenu="matMenu" xPosition="before">
                    <a mat-menu-item href="/user/profile">Profile</a>
                    <a mat-menu-item href="/user/showphotoprofile">Settings</a>
                    <a mat-menu-item (click)="logout()">Logout</a>
                </mat-menu>
            </div>
        </div>
    </nav>

  </header>
  <script src="/assets/frontOffice/assets/js/jquery.min.js"></script>
<script src="/assets/frontOffice/assets/js/bootstrap.min.js"></script>
<script src="/assets/frontOffice/assets/js/click-scroll.js"></script>
<script src="/assets/frontOffice/assets/js/jquery.backstretch.min.js"></script>
<script src="/assets/frontOffice/assets/js/owl.carousel.min.js"></script>
<script src="/assets/frontOffice/assets/js/custom.js"></script>