<app-header></app-header>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
crossorigin=""></script>

<br>
<div id="map" style="height: 400px;"></div>


<div class="container-sm">
    <div class="row">
        <div class="search-bar">
    <input type="text" placeholder="where you are searching for? "  [(ngModel)]="searchParams.governorate" >
    <input type="date" [(ngModel)]="searchParams.dateRent">
   
    <input type="number" placeholder="available-places ? "  [(ngModel)]="searchParams.availablePlaces">

    <input type="number" placeholder="How many rooms?" [(ngModel)]="searchParams.houseType">
      <button (click)="search()">Search</button>

        </div>
     </div>
  <br>
  <br>
  <div class="row">
    <!-- Fixed content section -->
    <div class="col-lg-3 col-md-4 col-6 ms-auto mb-5">
        <div class="custom-form filter-form">
        <form class="custom-form filter-form" #filterForm="ngForm">
          <div class="vertical-line">
            <div>
              <h6 class="filter-form-small-title">House Type</h6>
              <select name="houseType" class="form-select form-control" [(ngModel)]="filters.houseType" (ngModelChange)="applyFilters()">
                <option value="" selected>Any</option>
                <option value="1">House Type 1</option>
                <option value="2">House Type 2</option>
                <option value="3">House Type 3</option>
                <option value="4">House Type 4</option>
              </select>
            </div>
            <div>
              <h6 class="filter-form-small-title">Furnitured</h6>
              <select name="furnitured" class="form-select form-control" [(ngModel)]="filters.Furnitured" (ngModelChange)="applyFilters()">
                <option value="" selected>Any</option>
                <option value="Furnitured">Yes</option>
                <option value="Non-Furnitured">No</option>
              </select>
            </div>
            <div>
              <h6 class="filter-form-small-title">Price</h6>
              <div>
                <input type="checkbox" id="priceBelow500" name="priceBelow500" [(ngModel)]="filters.priceBelow500" (ngModelChange)="applyFilters()">
                <label for="priceBelow500">Below 500dt</label>
              </div>
              <div>
                <input type="checkbox" id="price500to1000" name="price500to1000" [(ngModel)]="filters.price500to1000" (ngModelChange)="applyFilters()">
                <label for="price500to1000">500dt-1000dt</label>
              </div>
              <div>
                <input type="checkbox" id="price1000to1500" name="price1000to1500" [(ngModel)]="filters.price1000to1500" (ngModelChange)="applyFilters()">
                <label for="price1000to1500">1000dt-1500dt</label>
              </div>
           


            


          
          
              
            </div>
   

          </div>
        </form>
            </div>
    </div>
    
    <div class="col-lg-9 col-md-8 col-6 mx-auto">
        <div class="row row-cols-1 row-cols-md-2 g-2">
          <ng-container *ngFor="let offer of (filtersApplied ? filteredOffers : offers); let i = index">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 custom-card">
        
                            <div class="card h-100" 
                   (mouseenter)="card.classList.add('hovered')" 
                   (mouseleave)="card.classList.remove('hovered')" #card>
                <div class="shop-thumb">
                  <div class="shop-image-wrap">
                    <a href="shop-detail.html">
                      <img [src]="offer.imageCollocation" class="shop-image img-fluid" alt="" />
                    </a>
                  </div>
                  <div class="shop-body">
                    <h4>{{ offer.descriptionCollocation }}</h4>
                    <p>Localization: {{ offer.locationLx }}</p>
                    <p>Localization: {{ offer.locationLy }}</p>
                    <p>Furniture: {{ offer.furnitureCollocation }}</p>
                    <p>Available Places: {{ offer.availablePlaces }}</p>
                  </div>
                  <div class="shop-icons-wrap">
                    <div class="shop-icons d-flex flex-column align-items-center">
                      <a href="#" class="shop-icon bi-heart"></a>
                    </div>
                  </div>
                  <div class="shop-pricing mb-0 mt-4">
                    <span class="badge custom-badge">dt{{ offer.price }}</span>
                  </div>
                  <div class="shop-date-offer mb-0 mt-4">
                    <span class="badge custom-badge">{{ offer.dateOffer | date: 'yyyy-MM-dd' }}</span>
                  </div>
                  <p class="vertical-space"></p>
                </div>
              </div>
            </div>
          </ng-container>
          <div id="map" style="height: 400px;"></div>


        </div>
    </div>


</div>
</div>
<app-footor></app-footor>