<!doctype html>
<html lang="en">
<head>
    <title>Login 07</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/assets/Usertemp/css/style.css">


</head>
<body>
<section class="ftco-section">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">
                    <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
                        <div class="text w-100">
                            <h2>Welcome to Sign Up</h2>
                            <p>Already have an account?</p>
                            <a routerLink="/login" class="btn btn-white btn-outline-white">Login</a>
                        </div>
                    </div>
                    
                    <div class="login-wrap p-4 p-lg-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">Sign Up</h3>
                            </div>
                            <div class="w-100">
                                <div class="w-100">
                                    <p class="social-media d-flex justify-content-end">
                                        <a  class="social-icon d-flex align-items-center justify-content-center" (click)="redirectToGitHubAuthorization()"><img src="/assets/Usertemp/github-logo.png" alt="GitHub Logo" width="20" height="20"></a>
                                        <a  class="social-icon d-flex align-items-center justify-content-center" (click)="redirectToGoogleAuthorization()"><img src="/assets/Usertemp/google.png" alt="Google Logo" width="20" height="20"></a>
                                    </p>
                                </div>
                                

                                
                            </div>
                            
                            
                            
                            
                            
                        </div>
                        <form [formGroup]="signupForm" class="signin-form">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control" id="exampleFirstName" placeholder="First Name" formControlName="firstName">
                                    <div *ngIf="signupForm.get('firstName')?.invalid && signupForm.get('firstName')?.touched" class="text-danger">
                                        <small *ngIf="signupForm.get('firstName')?.errors?.['required']">First Name is required</small>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="exampleLastName" placeholder="Last Name" formControlName="lastName">
                                    <div *ngIf="signupForm.get('lastName')?.invalid && signupForm.get('lastName')?.touched" class="text-danger">
                                        <small *ngIf="signupForm.get('lastName')?.errors?.['required']">Last Name is required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email Address" formControlName="email">
                                <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched" class="text-danger">
                                    <small *ngIf="signupForm.get('email')?.errors?.['required']">Email is required</small>
                                    <small *ngIf="signupForm.get('email')?.errors?.['email']">Invalid email format</small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password" formControlName="password">
                                    <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched" class="text-danger">
                                        <small *ngIf="signupForm.get('password')?.errors?.['required']">Password is required</small>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" id="exampleRepeatPassword" placeholder="Repeat Password" formControlName="passwordRepeat">
                                    <div *ngIf="signupForm.get('passwordRepeat')?.invalid && signupForm.get('passwordRepeat')?.touched" class="text-danger">
                                        <small *ngIf="signupForm.get('passwordRepeat')?.errors?.['required']">Repeat Password is required</small>
                                    </div>
                                </div>
                            </div>
                            <button type="button" (click)="signup()" [disabled]="signupForm.invalid" class="btn btn-primary btn-user btn-block">
                                Register Account
                            </button>
                        
                            <div class="form-group d-md-flex">
                                <br>
                                <div class="w-50 text-left">
                                    <label class="checkbox-wrap checkbox-primary mb-0">Remember Me
                                        <input type="checkbox" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a routerLink="/forgot-password">Forgot Password</a>
                                </div>
                            </div>
                    
                        </form>
                        
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

<script src="/assets/Usertemp/js/jquery.min.js"></script>
<script src="/assets/Usertemp/js/popper.js"></script>
<script src="/assets/Usertemp/js/bootstrap.min.js"></script>
<script src="/assets/Usertemp/js/main.js"></script>

</body>
</html>
