<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Register</title>

    <!-- Custom fonts for this template-->
    <link href="/assets/userAssets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/assets/userAssets/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block "></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user" [formGroup]="signupForm" (ngSubmit)="signup()">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="First Name" formControlName="firstName">
                                        <div *ngIf="signupForm.get('firstName')?.invalid && signupForm.get('firstName')?.touched"
                                            class="text-danger">
                                            <small *ngIf="signupForm.get('firstName')?.errors?.['required']">First Name is
                                                required</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="exampleLastName"
                                            placeholder="Last Name" formControlName="lastName">
                                        <div *ngIf="signupForm.get('lastName')?.invalid && signupForm.get('lastName')?.touched"
                                            class="text-danger">
                                            <small *ngIf="signupForm.get('lastName')?.errors?.['required']">Last Name is
                                                required</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                        placeholder="Email Address" formControlName="email">
                                    <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched"
                                        class="text-danger">
                                        <small *ngIf="signupForm.get('email')?.errors?.['required']">Email is required</small>
                                        <small *ngIf="signupForm.get('email')?.errors?.['email']">Invalid email format</small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Password" formControlName="password">
                                        <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched"
                                            class="text-danger">
                                            <small *ngIf="signupForm.get('password')?.errors?.['required']">Password is
                                                required</small>
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleRepeatPassword" placeholder="Repeat Password"
                                            formControlName="passwordRepeat">
                                        <div *ngIf="signupForm.get('passwordRepeat')?.invalid && signupForm.get('passwordRepeat')?.touched"
                                            class="text-danger">
                                            <small *ngIf="signupForm.get('passwordRepeat')?.errors?.['required']">Repeat Password
                                                is required</small>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" [disabled]="signupForm.invalid"
                                    class="btn btn-primary btn-user btn-block">
                                    Register Account
                                </button>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" routerLink="/forgot-password">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" routerLink="/">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Bootstrap core JavaScript-->
    <script src="/assets/userAssets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/userAssets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/assets/userAssets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/assets/userAssets/js/sb-admin-2.min.js"></script>

</body>

</html>
