<div class="forgot-password-container">
  <h2>Update Password</h2>
  <form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>Current Password</label>
          <input class="form-control" type="password" formControlName="currentPassword" placeholder="Enter current password">
          <div *ngIf="updatePasswordForm.get('currentPassword')?.invalid && updatePasswordForm.get('currentPassword')?.touched" class="text-danger">
            Current password is required
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>New Password</label>
          <input class="form-control" type="password" formControlName="newPassword" placeholder="Enter new password">
          <div *ngIf="updatePasswordForm.get('newPassword')?.invalid && updatePasswordForm.get('newPassword')?.touched" class="text-danger">
            New password is required
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Confirm New Password</label>
          <input class="form-control" type="password" formControlName="confirmPassword" placeholder="Confirm new password">
          <div *ngIf="updatePasswordForm.get('confirmPassword')?.invalid && updatePasswordForm.get('confirmPassword')?.touched" class="text-danger">
            <div *ngIf="updatePasswordForm.get('confirmPassword')?.errors?.['passwordMismatch']">Passwords do not match</div>
            <div *ngIf="updatePasswordForm.get('confirmPassword')?.errors?.['required']">Confirm password is required</div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
  
    <button class="btn btn-primary" type="submit" [disabled]="updatePasswordForm.invalid || newPasswordMismatch()">Update Password</button>
    <div *ngIf="errorMessage" class="text-danger mt-2">{{ errorMessage }}</div>
    <br>
    <br>
  </form>
  
  <div class="text-center">
    <a class="small login-link" routerLink="/">Already have an account? Login!</a>
  </div>
  <div class="text-center">
    <a class="small signup-link" routerLink="/signup">Create an Account!</a>
  </div>
</div>
