<router-outlet></router-outlet>
<app-header></app-header>

<div class="btn-group">
  <div
    class="btn btn-primary"
    mwlCalendarPreviousView
    [view]="view"
    [(viewDate)]="viewDate"
    (viewDateChange)="closeOpenMonthViewDay()"
  >
    Previous
  </div>
  <div
    class="btn btn-outline-secondary"
    mwlCalendarToday
    [(viewDate)]="viewDate"
  >
    Today
  </div>
  <div
    class="btn btn-primary"
    mwlCalendarNextView
    [view]="view"
    [(viewDate)]="viewDate"
    (viewDateChange)="closeOpenMonthViewDay()"
  >
    Next
  </div>
</div>

  <div id="cal-date-field">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</div>

  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
      >
        Month
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        Week
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        Day
      </div>
      </div>
  </div> 
  <div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [activeDayIsOpen]="activeDayIsOpen"(dayClicked)="dayClicked($event.day)"></mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events"></mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events"></mwl-calendar-day-view>
  </div>

  <!-- Move the "Add new" button inside the calendrier-container -->
  <h3>
    Edit events
    <button class="btn btn-primary float-end" (click)="addEvent()">
      Add new
    </button>
    <div class="clearfix"></div>
  </h3>
  
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Starts at</th>
          <th>Ends at</th>
          <th>Edit</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of events">
          <td>{{ event.title }}</td>
          <td>{{ event.color?.primary }}</td>
          <td>{{ event.color?.secondary }}</td>
          <td>{{ event.start | date: 'yyyy-MM-dd HH:mm' }}</td>
          <td>{{ event.end | date: 'yyyy-MM-dd HH:mm' }}</td>
          <td>
            <button class="btn btn-warning" (click)="addEvent()">
              Edit
            </button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="deleteEvent(event)">
              Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

<app-footer></app-footer>
