<app-header></app-header>

<app-cart-home></app-cart-home>
<div class="modal" [ngClass]="showModal ? 'show' : ''" *ngIf="showModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="couponModalLabel"> Use Coupon</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-lg-5 col-md-6 col-sm-6" *ngFor="let promotion of promotions">

                <div class="coupon">
                    <!-- Your coupon content here -->
                    <div class="left">
                        <div>Enjoy Your Gift</div>
                    </div>
                    <div class="center">
                        <h2>{{ promotion.discountPercentage }} %</h2>
                        <h3>Coupon</h3>
                        <small>Valid until {{ promotion.expirationDate }}</small>
                    </div>
                    <div class="right">
                        <div>{{ promotion.code }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
