<app-header></app-header>
<br>
<br>
<br>

<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-6 col-6 mx-auto" *ngFor="let club of clubs"
    style="border-bottom: 1px solid #ccc; padding-bottom: 15px;" #card>
    <div class="card mb-3" (mouseenter)="card.classList.add('hovered')"
      (mouseleave)="card.classList.remove('hovered')">
      <div class="shop-thumb">
        <div class="shop-image-wrap">
          <a href="shop-detail.html">
            <img [src]="club.logo" class="shop-image img-fluid" alt="">
          </a>
        </div> 

        <div class="shop-body"> 
            <h2>{{ club.name }}</h2>

            <h2>{{ club.category }}</h2>

            <div *ngIf="club.category === 'OTHER'">
              <h2>{{ club.otherCategory }}</h2> 
            </div>  
            <div *ngIf="club.openMembership === true"> 
            <h3>Open Membership</h3>  
            </div>
            <div *ngIf="club.openMembership === false"> 
              <h3>Interview Required</h3> 
  

          <p> {{ club.description }}</p> 
        </div>  
        <div class="shop-body d-flex flex-column align-items-center"> <!-- Add flexbox classes -->

        <button *ngIf="card.classList.contains('hovered')" class="btn btn-join-now mt-2 btn-become-member"
        (click)="NavigateToMember(club)">
    <i class="bi bi-person-plus-fill me-1"></i> <!-- Bootstrap Icons - Person Plus -->
    Join Now
        </button> 
        </div>

          
      </div>
    </div>
  </div>
</div>
<br>
<br>
<app-footer></app-footer>
