<div class="container">
    <div class="row flex-lg-nowrap">
      <div class="col-12 col-sm-auto mb-3">
        <div class="mx-auto" style="width: 140px;">
          <div (click)="openFileInput()" class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
            <label for="fileInput" style="cursor: pointer;">
              <input type="file" (change)="displaySelectedImage($event)"  (change)="onFileSelected($event)" style="display: none;" id="fileInput">
              <img *ngIf="selectedFileUrl" [src]="selectedFileUrl" alt="Selected Image" style="max-width: 100%; max-height: 100%;">
              <span *ngIf="!selectedFileUrl" style="color: rgb(166, 168, 170); font: bold 8pt Arial; cursor: pointer;">140x140</span>
            </label>
          </div>
        </div>
      </div>
  
      <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
        <div class="text-center text-sm-left mb-2 mb-sm-0">
          <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">John Smith</h4>
          <p class="mb-0">@johnny.s</p>
          <div class="text-muted"><small>Last seen 2 hours ago</small></div>
          <div class="mt-2">
            <button class="btn btn-primary" type="button" (click)="onUpdateProfilePhoto()">
              <i class="fa fa-camera"></i>
              <span>Change Photo</span>
            </button>
          </div>
        </div>
        <div class="text-center text-sm-right">
          <span class="badge badge-secondary">administrator</span>
          <div class="text-muted"><small>Joined 09 Dec 2017</small></div>
        </div>
      </div>
    </div>
  </div>
  