<div class="account-verification">
  <div class="wrapper">
      <div class="single-card" [ngClass]="{'selected': selectedSubscription === 'one_month'}">
          <div class="img-area">
              <img src="/assets/userAssets/pack1.png" alt="">
              <div class="overlay">
                  <h5 class="card-title">One-Month</h5>
                  <p class="card-text">One-Month Subscription (20 points)</p>
                  <button *ngIf="!isVerified" class="add-to-cart" (click)="selectSubscription('one_month'); verifyAccount()">Request Account Verification</button>
                  <img *ngIf="isVerified" src="/assets/userAssets/verification_logo.png" class="verification-logo" alt="Verification Logo" style="width: 30%;">
                </div>
          </div>
      </div>

      <div class="single-card" [ngClass]="{'selected': selectedSubscription === 'six_months'}">
          <div class="img-area">
              <img src="/assets/userAssets/pack2.png" alt="">
              <div class="overlay">
                  <h5 class="card-title">Six-Month</h5>
                  <p class="card-text">Six-Month Subscription (90 points)</p>
                  <button *ngIf="!isVerified" class="add-to-cart" (click)="selectSubscription('six_months'); verifyAccount()">Request Account Verification</button>
                  <img *ngIf="isVerified" src="/assets/userAssets/verification_logo.png" class="verification-logo" alt="Verification Logo" style="width: 30%;">
                </div>
          </div>
      </div>

      <div class="single-card" [ngClass]="{'selected': selectedSubscription === 'one_year'}">
          <div class="img-area">
              <img src="/assets/userAssets/pack3.png" alt="">
              <div class="overlay">
                  <h5 class="card-title">One-Year</h5>
                  <p class="card-text">One-Year Subscription (160 points)</p>
                  <button *ngIf="!isVerified" class="add-to-cart" (click)="selectSubscription('one_year'); verifyAccount()">Request Account Verification</button>
                  <img *ngIf="isVerified" src="/assets/userAssets/verification_logo.png" class="verification-logo" alt="Verification Logo" style="width: 30%;">
                </div>
          </div>
      </div>
  </div>
</div>
