<div class="card">
    <div class="card-header">
      <h5>Revenue</h5>
    </div>
    <div class="card-body pt-0">
      <div class="revenue-container">
        <div id="revenuechart">
          <apx-chart [chart]="revenueChart.chart" [dataLabels]="revenueChart.dataLabels" [series]="revenueChart.series"
                     [labels]="revenueChart.labels" [legend]="revenueChart.legend" [colors]="revenueChart.colors"
                     [responsive]="revenueChart.responsive">
          </apx-chart>
        </div>
      </div>
    </div>
  </div>
  `