<div class="forgot-password-container">
  <h2>Forgot Password</h2>
  <form (ngSubmit)="resetPassword()">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" [(ngModel)]="email" class="form-control" required>
      <div *ngIf="!isValidEmail() && email.trim() !== ''" class="error-message">Please enter a valid email address</div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!isValidEmail()">Reset Password</button>
  </form>

  <div class="text-center">
    <a class="small login-link" routerLink="/">Already have an account? Login!</a>
  </div>
  <div class="text-center">
    <a class="small signup-link" routerLink="/signup">Create an Account!</a>
  </div>
  
  <div *ngIf="resetPasswordMessage" class="message">{{ resetPasswordMessage }}</div>
</div>
