<app-header></app-header>
<div class="col-lg-9 col-md-8 col-6 mx-auto">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 col-6"               *ngFor="let offer of offers">

        <div class="card mb-3" 
             (mouseenter)="card.classList.add('hovered')" 
             (mouseleave)="card.classList.remove('hovered')" #card>
          <div class="shop-thumb">
        <div class="shop-image-wrap">
          <a href="shop-detail.html">
            <img [src]="offer.imageCollocation" class="shop-image img-fluid" alt="" />
          </a>
        </div>
        <div class="shop-body">
          <h4>{{ offer.descriptionCollocation }}</h4>
          <p>Localization: {{ offer.locationLx }}</p>
          <p>Localization: {{ offer.locationLy }}</p>
          <p>Furniture: {{ offer.furnitureCollocation }}</p>
          <p>Available Places: {{ offer.availablePlaces }}</p>
        </div>
        <div class="shop-icons-wrap">
          <div class="shop-icons d-flex flex-column align-items-center">
            <a href="#" class="shop-icon bi-heart"></a>

          </div>
        </div>
        <div class="shop-pricing mb-0 mt-4">
          <span class="badge custom-badge">dt{{ offer.price }}</span>
        </div>
        <div class="shop-date-offer mb-0 mt-4">
          <span class="badge custom-badge">{{ offer.dateOffer | date: 'yyyy-MM-dd' }}</span>
        </div>

      </div>
        </div>
      </div>
    </div>
  </div>
<app-footor></app-footor>