<link rel="apple-touch-icon" sizes="76x76" href="/assets/backOffice/assets/img/apple-icon.png">
<link rel="icon" type="image/png" href="/assets/backOffice/assets/img/favicon.png">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link href="/assets/backOffice/assets/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
<!-- CSS Just for demo purpose, don't include it in your project -->
<link href="/assets/backOffice/assets/demo/demo.css" rel="stylesheet" />
<app-head-back></app-head-back>

<div class="container">
<div>
    
  <h1 class="title">Settings  </h1>

    <form (submit)="addSetting()">
      <label for="commissionRate">Commission Rate:</label>
      <input type="number" [(ngModel)]="newSetting.commissionRate" name="commissionRate" required>
      <br>
      <label for="transactionType">Transaction Type:</label>
      <select [(ngModel)]="newSetting.transactionType" name="transactionType" required>
        <option *ngFor="let type of transactionTypes" [value]="type.toUpperCase()">{{ type.toUpperCase() }}</option>
      </select>
      
      <br>
      <button type="submit">Add Setting</button>
    </form>
  
    <!-- Display settings -->
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Commission Rate</th>
          <th>Transaction Type</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let setting of settings">
          <td>{{ setting.id }}</td>
          <td>{{ setting.commissionRate }}</td>
          <td>{{ setting.transactionType }}</td>
          <td><button (click)="deleteSetting(setting.id)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>